{% extends "layout.html"  %}

{%block body %}

<div class="container mt-5"><h3 class="text-center">Education</h3></div>

<div class="container mt-5">
    <table class="table table-success table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Drgree</th>
        <th scope="col">Institution</th>
        <th scope="col">Result</th>
        
      </tr>
    </thead>

    <tbody>
      <tr>       
        <td>Swordsman</td>
        <td>Eddard Stark</td>
        <td>Knight</td>
      </tr>
      <tr>
        <td>Noble Education</td>
        <td>Maester Luwin</td>
        <td>Basic</td>
      </tr>
    </tbody>
  </table></div>

{% endblock %}