{% extends "layout.html" %}

{% load static %}

{%block body %}


<div class="container mt-5">
  <h3 class="text-center">Introduction</h3>
  <p class="text-center">
    I'm <strong>John Snow</strong> ,
    I'm the King in the North.
  </p>
  <div class="text-center">
    <img src="{% static 'images/Jon-Snow.png' %}" class="rounded w-25 p-3" alt="Winter is coming">
  </div>

  
</div>


<div class="container">
  <h1 class="text-center"></h1>
  <div class="card">

    <div class="card-header">
      <h3 class="text-center">
        Work Experience
      </h3>
    </div>

    <div class="card-body">
      <h4 class="card-title">King in the North</h4>
      <strong> 303 AC(Aegon's Conquest) </strong>

      <p class="card-text">Later I became "Warden of the North"</p>

      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Won the "Battle of Bastards"</li>
          <li class="list-group-item">Brought The Targaryen Army and 3 Dragon.</li>
          <li class="list-group-item">Won the "Long Night" by defeating Night King.</li>
        </ul>
      </div>
    </div>

    <div class="card-body">
      <h4 class="card-title"> Lord Commaner of the Night's watch </h4>

      <strong> 302 AC(Aegon's Conquest) </strong>

      <p class="card-text">Defeated Wildings</p>
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Honoured by recevieng "The Long Claw(A Valyrian Steel Sowrd) from previous lord
            commandar</li>
          <li class="list-group-item">United 2 North over negotiation</li>
          <li class="list-group-item">Killed by own man and resurrected by the red priest</li>
        </ul>
      </div>
    </div>

    <div class="card-body">
      <h4 class="card-title">king Beyond the Wall</h4>
      <strong> 305 AC(Aegon's Conquest) </strong>

      <p class="card-text">King in the Real North</p>

      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Killed the woman i loved cuz she was a mad queen and duty is the death of
            relationship.</li>
          <li class="list-group-item">Free Folks made me king</li>

        </ul>
      </div>
    </div>
  </div>
</div>



<div class="container mt-4">
  <div class="card">
    <div class="card-header  text-center">
      <h3>Skill & Accomplishments</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <strong> Skills </strong>
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Swordsman and a fierce fighter</li>
              <li class="list-group-item">Negotiator</li>
              <li class="list-group-item">Dragon Rider</li>
            </ul>
          </div>
        </div>

        <div class="col">
          <strong> Accomplishments </strong>
          <div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Killed White Walker</li>
              <li class="list-group-item">Created Alliance with Daenerys Targaryen,Created alliance with king beyond the
                wall and united whole north against White walker </li>
              <li class="list-group-item">I rode Rhaegal the Dragon, Rhaegal named after my father's name(Spolor Alert)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}