{% extends "layout.html"  %}

{%block body %}


<div class="container">
    <h3 class="text-center">Introduction</h3>
    <p class="text-center">
        I'm Kabid Yeiad.
        I'm a programmer.
    </p>


</div>
 

<div class="container">
    <h1 class="text-center"></h1>
    <div class="card">

        <div class="card-header">
          <h3 class="text-center">
            Work Experience
          </h3>  
        </div>

        <div class="card-body">
          <h4 class="card-title">Web Designer</h4>
          <strong> February 2021 </strong>

          <p class="card-text">Worked mostly as a Freelancer</p>
          
          <div>
              <ul class="list-group list-group-flush">
                 <li class="list-group-item">Designed with Figma</li>
                 <li class="list-group-item">Designed with Adobe XD</li>         
              </ul>
          </div>         
        </div>

        <div class="card-body">
            <h4 class="card-title">Graphic Designer</h4>

            <strong> February 2021 </strong>
  
            <p class="card-text">Worked for multiple social media page and online artwork</p>
        </div>

        <div class="card-body">
            <h4 class="card-title">Video Editor</h4>
            <strong> February 2021 </strong>
  
            <p class="card-text">I can use After Effects, Premiere Pro. Worked For many projects, and remote job.</p>
        </div>
    </div>
</div>



<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
          Skills
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>

</div>


{% endblock %}