{% extends "layout.html"  %}

{%block body %}


<div class="container">
    <h3 class="text-center">Introduction</h3>
    <p class="text-center">
        I'm John Snow,
        I'm the King in the North.  
    </p>


</div>
 

<div class="container">
    <h1 class="text-center"></h1>
    <div class="card">

        <div class="card-header">
          <h3 class="text-center">
            Work Experience
          </h3>  
        </div>

        <div class="card-body">
          <h4 class="card-title">King in the North</h4>
          <strong> 303 AC(Aegon's Conquest) </strong>

          <p class="card-text">Later I became "Warden of the North"</p>
          
          <div>
              <ul class="list-group list-group-flush">
                 <li class="list-group-item">Won the "Battle of Bastards"</li>
                 <li class="list-group-item">Brought The Targaryen Army and 3 Dragon.</li>
                 <li class="list-group-item">Won the "Long Night" by defeating Night King.</li>          
              </ul>
          </div>         
        </div>

        <div class="card-body">
            <h4 class="card-title"> Lord Commaner of the Night's watch </h4>

            <strong> 302 AC(Aegon's Conquest) </strong>
  
            <p class="card-text">Defeated Wildings</p>
            <div>
              <ul class="list-group list-group-flush">
                 <li class="list-group-item">Honoured by recevieng "The Long Claw(A Valyrian Steel Sowrd) from previous lord commandar</li>
                 <li class="list-group-item">United 2 North over negotiation</li>
                 <li class="list-group-item">Killed by own man and resurrected by the red priest</li>          
              </ul>
          </div> 

        </div>

        <div class="card-body">
            <h4 class="card-title">king Beyond the Wall</h4>
            <strong> 305 AC(Aegon's Conquest) </strong>
  
            <p class="card-text">King in the Real North</p>

            <div>
              <ul class="list-group list-group-flush">
                 <li class="list-group-item">Killed the woman i loved cuz she was a mad queen and duty is the death of relationship.</li>
                 <li class="list-group-item">Free Folks made me king</li>
                        
              </ul>
            </div> 
        </div>
    </div>
</div>



<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
          Skills
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>

</div>


{% endblock %}